@use "../../colors.scss";

.text {
    display: flex;
    align-items: flex-start;
    gap: 0.2em;
    
    .link, .link:visited  {
        color: colors.$black;
        text-decoration: none;
        border-bottom: dotted 1px colors.$black;
    }
}