body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: 'Bitter', serif;
}

#pagewrapper {
  width: 100%;
  height: 100%;
  position: fixed;

  background-color: #DBDBDB;
}


/* ----- Menu Bar ----- */
#menubar {
  position: fixed;
  width: 100%;
  height: 7.5%;
  background-color: white;
}

#menubar table {
  margin: auto;
  font-size: 3vmin;
  height: 100%;
}

#menubar tr {
  width: 100%;
}

#menubar td {
  width: 20%;
  text-align: center;
}

#menubar h3 {
  margin: 0;
}

#menubar a {
  text-decoration: none;
  color: black;
}

#menubar a:visited {
  color: black;
}


/* ----- Article ----- */
#contentwrapper {
  width: 100%;
  height: 95%;
  margin-top: 5%;
  background-color: white;
}

.articlecontent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.subtitle {
  text-align: center;
}

.textholder {
  max-height: 90%;
  margin: 2.5%;
  font-size: 2.5vmin;
  overflow-y: scroll;
}

/* ----- Decoration ----- */
.line {
  border-top: 4px dashed black;
  height: 0;
  width: 0;
  margin: auto;

  transition: width 1s ease;
  -moz-transition: width 1s ease; /* Firefox 4 */
  -webkit-transition: width 1s ease; /* Safari and Chrome */
  -o-transition: width 1s ease; /* Opera */
}
