body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: 'Bitter', serif;
}

#pagewrapper {
  width: 65%;
  height: 100%;
  margin: 0% 17.5% 0% 17.5%;
  position: fixed;

  background-color: grey;
}

#leftpanel, #rightpanel {
  height: 100%;
  position: absolute;
  padding-top: 2.5%;
}


.line {
  border-top: 4px dashed white;
  height: 0;
  width: 0;
  margin: auto;

  transition: width 1s ease;
  -moz-transition: width 1s ease; /* Firefox 4 */
  -webkit-transition: width 1s ease; /* Safari and Chrome */
  -o-transition: width 1s ease; /* Opera */
}

/* ----- Left Panel (Menu) ----- */

#leftpanel {
  width: 25%;
  background-color: #555454;
}

table {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 3vmin;
}

#topbar a {
  text-decoration: underline;
  color: #B5BDE4;
}

#topbar h3 {
  font-size: 3.5vmin;
}


/* ----- Right Panel (Content) ----- */

#rightpanel {
  width: 75%;
  left: 25%;
  background-color: #EFEFEF;
}

#cover {
  width: 100%;
  height: 100%;
  float: left;
  bottom: 0;
  position: absolute;
  z-index: 5;

  transition: height 1s ease;
  -moz-transition: height 1s ease; /* Firefox 4 */
  -webkit-transition:height 1s ease; /* Safari and Chrome */
  -o-transition: height 1s ease; /* Opera */

  -webkit-transform: rotate(180);
  -moz-transform: rotate(180);
  -ms-transform: rotate(180);
  -o-transform: rotate(180);
  transform: rotate(180);

  background-color: inherit;
}

/* ----- Articles ----- */

.articlecontent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hiddenarticle {
  z-index: -1;
}

.activearticle {
  z-index: 3;
}

.textholder {
  max-height: 90%;
  margin: 2.5%;
  font-size: 2.5vmin;
  overflow-y: scroll;
}
