body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  display: table;
  position: absolute;
  font-family: 'Bitter', serif;

  filter: invert(0%);

  transition: all 1s ease;
  -moz-transition: all 1s ease; /* Firefox 4 */
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -o-transition: all 1s ease; /* Opera */

  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.onMusic {
  filter: invert(100%);
  background-color: black;
}

.line {
  border-top: 4px dashed black;
  height: 0;
  width: 0;
  margin: auto;

  transition: width 1s ease;
  -moz-transition: width 1s ease; /* Firefox 4 */
  -webkit-transition: width 1s ease; /* Safari and Chrome */
  -o-transition: width 1s ease; /* Opera */
}


/* ----- Section: Title ----- */

#pagewrapper {
  display: table-cell;
  vertical-align: middle;
  position:relative;
}

#titlewrapper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
}

#titlewrapper h1, h3, table {
  width: auto;
  height: auto;
  margin: auto;
  display: table;

  text-align: center;
}

#titlewrapper h1 {
  font-size: 10vmin;
}

#titlewrapper h2 {
  text-align: center;
}

#titlewrapper h3 {
  font-size: 3vmin;
  margin-bottom: 2%;
}

#titlewrapper table {
  font-size: 2.5vmin;
  margin-bottom: 3%;
  width: 100%;
}

#titlewrapper td {
  width: 25%;
}

#titlewrapper a {
  text-decoration: none;
  color: #013c82;
}

#titlewrapper a:visited {
  color: #013c82;
}


/* ----- Section: Master ----- */

.expandable {
  overflow-y: hidden;
  max-height: 0px;
  width: 100%;

  transition: max-height 1s ease;
  -moz-transition: max-height 1s ease; /* Firefox 4 */
  -webkit-transition: max-height 1s ease; /* Safari and Chrome */
  -o-transition: max-height 1s ease; /* Opera */

  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.grown {
  max-height: 1000px;
}


/* ----- Section: Work ----- */

.alth3 {
  margin-bottom: 1%;
  font-size: 2.5vmin;
}

.workcontent {
  display: block;
  text-align: center;
}

.workcontent li {
  width: auto;
  padding: 2px;
  display: inline-block;
  list-style: none;
  background-color: black;
  color: white;
}



/* ----- Section: Music ----- */

.prefilter {
  filter: invert(100%);
}



/* ----- Section: Contact ----- */

#contactwrapper h4 {
  text-align: center;
}

.circleimg {
  max-width: 30%;
  height: auto;
  margin: auto;
  clip-path: circle(80px at center);
  display: block;

  transform: rotate(90deg);
  -moz-transform: rotate(90deg); /* Firefox 4 */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}
