@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Yeseva+One&display=swap');

body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    display: table;
    position: absolute;

    font-family: 'Hanken Grotesk', sans-serif;

    background-color: #C9DCB3;
    color: #2E5339 ;

    font-size: 20px;
}

#app {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
}
