@use "../colors.scss";

.homeContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 15px;

    .divider {
        border-bottom: 1px solid colors.$black;
    }

    .socialLinks {
        align-items: center;
        display: flex;
        gap: 15px;
        padding: 7px;

        .icon {
            height: 25px;
            
        }
    }
}