.error-status {
    font-size: 20vmin;
    margin: 10px;
}

.error-face {
    font-size: 15vmin;
    margin: 10px;

    animation: spinning 4s linear infinite;
}

@keyframes spinning {
    to {
        transform: rotate(360deg);
    }
}

.error-message {
    margin: 10px;
}

.error-message a {
    color: #2ac9d4;
    text-decoration-color: #1D1D1D;
    animation: flashing-underline 1s ease-in-out infinite alternate-reverse;
}

@keyframes flashing-underline {
    to {
        text-decoration-color: #2ac9d4;
    }
}

